.NavItem {
  position: relative;
  color: black;
  text-transform: uppercase;
  text-decoration-line: unset;
  text-align: center;
}

.NavItem:hover {
  color: black;
}

.NavItem::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.4em;
  background-color: hotpink;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.NavItem::after {
  opacity: 1;
  transform: scale(0);
  transform-origin: center;
}

.NavItem:hover::after,
.NavItem:focus::after {
  transform: scale(1);
}


